:root {
    --danger: #c71c22;
    --info: #2fa4e7;
    --warn: #eab518;
    --success: #73a839;
    --color1: rgb(55, 77, 153);
    --color1-translucent: rgba(88, 220, 251, 0.85);
    --color1-text: #ffffff;
    --color1-text2: #e6c43e;
    --color1-logo-s1: #00e389;
    --color1-logo-s2: #01a866;
    --color1-logo-s3: #ffffff;
    --color1-logo-text: #ffffff;
    --color1-btn: #00e389;
    --color1-btn-text: #ffffff;
    --color2: #00e389;
    --color2-text: #ffffff;
    --color2-text2: #e4e4e4;
    --color4: #ffffff;
    --color4-text: #000000;
    --color4-text2: #363636;
    --color4-text3: #384e9a;
    --color4-logo-text: #384e9a;
    --color5: #363636;
    --color5-text: #ffffff;
    --color5-text2: #a7a7a7;
    --color5-logo-s1: #ffffff;
    --color5-logo-s2: #02955b;
    --color5-logo-s3: #5265a7;
    --color5-logo-text: #ffffff;
    --color5-btn: #00e389;
    --color5-btn-text: #000000;
    --color6: linear-gradient(rgba(55, 77, 153, 0.87), rgba(0, 227, 137, 0.5));
    --color6-text: #000000;
    --color6-text2: #ffffff;
}

body.dark {
    --danger: #c71c22;
    --info: #2fa4e7;
    --warn: #eab518;
    --success: #73a839;
    --color1: #304486;
    --color1-translucent: rgba(49, 68, 135, 0.85);
    --color1-text: #ffffff;
    --color1-text2: #e6c43e;
    --color1-logo-s1: #e6c43f;
    --color1-logo-s2: #fbaa2d;
    --color1-logo-s3: #ffffff;
    --color1-logo-text: #ffffff;
    --color1-btn: #e6c43e;
    --color1-btn-text: #000000;
    --color2: #e6c43e;
    --color2-text: #000000;
    --color2-text2: #ffffff;
    --color4: #263844;
    --color4-text: #ffffff;
    --color4-text2: #9a9a9a;
    --color4-text3: #384e9a;
    --color4-logo-text: #384e9a;
    --color5: #192229;
    --color5-text: #ffffff;
    --color5-text2: #a7a7a7;
    --color5-logo-s1: #ffffff;
    --color5-logo-s2: #fbaa2d;
    --color5-logo-s3: #5265a7;
    --color5-logo-text: #ffffff;
    --color5-btn: #e6c43e;
    --color5-btn-text: #000000;
    --color6: linear-gradient(rgba(44, 61, 122, 0.8), rgba(85, 72, 23, 0.8));
    --color6-text: #000000;
    --color6-text2: #ffffff;
}
